node_modules/
.next/
out/
build/
dist/
coverage/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
uploads/
.vercel/
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
.expo/
.expo-shared/
web-build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
ios/Pods/
ios/build/
ios/DerivedData/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
